<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <% if @users.empty? %>
      <h1>There are currently no users in the database</h1>
    <% else %>
      <main>
        <ul class="flex col gap-2">
          <% @users.each do |user| %>
            <a href= "<%= user.id %>" class='user flex'>
              <div class='photo border'>
                <%= image_tag (user.photo)%>
              </div>
              <div class='user-info flex border users-info align padding-2'>
                <h1><%= user.name %></h1>
                <p class="to-left margin-top">Number of Posts: <%= user.posts_counter %></p>
              </div>
            </a>
          <%end%>
        </ul>
      </main>
    <% end %>
  </body>
</html>
