* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {

  text-decoration: none;
}

body {
  padding: 3rem 5rem;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
  gap: 2rem;
}

.photo {
  width: 10rem;
  height: 10rem;
}

.border {
  border: solid #333 2px;
}

.user {
  gap: 4rem;
}

.align {
  align-items: center;
}

.users-info {
  width: 70%;
}

.to-left {
  margin-left: auto;
}

.padding-2 {
  padding: 0 2rem;
}

.margin-top {
  margin-top: 4rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.max-width {
  width: calc(70% + 14rem);
}

.bio {
  height: 15rem;
  overflow: auto;
  padding: 1rem;
}

.post {
  height: 7rem;
  justify-content: space-between;
  padding: 0.5rem;
}

.all-posts {
  width: 8rem;
  margin-left: 35%;
  justify-content: center;
}

.comments-container {
  height: 7rem;
  overflow: auto;
  margin: 0.2rem 0 2rem 0;
}
